<div class="grid w-screen">
  <div class="col-12 flex flex-column align-items-center">
    <div class="col-6">
      <app-not-found-animation></app-not-found-animation>
    </div>
    <div class="col-6"></div>
    <p class="text-2xl font-medium">The page you were looking for doesn't exist.</p>
    <p class="text-md font-light ">You may have mistyped the address or the page may have moved.</p>
    <button routerLink="/dashboard"
      class="border-round-sm bg-indigo-600 px-4 border-transparent py-1 text-white mt-4 cursor-pointer">Home</button>
  </div>
</div>
