<pre>{{getAllIndustry|json}}</pre>
<div class="mx-6">
    <h1>Industry</h1>
    <div class="col-3 my-2">
        <app-button-primary label="Create industry" id="create" (click)="showResponsiveDialog()"></app-button-primary>
        
        <form [formGroup]="createIndustry">
            <p-dialog header="Create Category" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}"
                [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                <pre>{{createIndustry.value|json}}</pre>
                <div class="mb-3">
                    <div class="mb-3 flex flex-column w-full">
                        <label for="industryName" class="font-medium col-form-label">Industry Name</label>
                        <input type="text" class="w-full " formControlName="industryName" pInputText id="industryName" name="industryName">
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <p-button (click)="displayResponsive=false" label="Cancel" styleClass="p-button-text"></p-button>
                    <p-button type="button" label="Create" styleClass="p-button-text" (click)="onCreateIndustry()" (click)="displayResponsive=false"></p-button>
                </ng-template>
            </p-dialog>
        </form>
    </div>
    <p-table [value]="getAllIndustry"  [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-industry let-i="rowIndex">
            <tr>
                <td>{{i + 1}}</td>
                <td>{{industry.industryName}}</td>
                <td class="flex gap-2">
                    <app-button-icon id="update" (click)="showUpdateDialog(industry)"></app-button-icon>
                    <form [formGroup]="updateIndustry">
                        <p-dialog header="Update Industry" [(visible)]="displayUpdate" [breakpoints]="{'960px': '75vw'}"
                            [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                            <pre>{{updateIndustry.value|json}}</pre>
                            <div class="mb-3">
                                <div class="mb-3 flex flex-column w-full">
                                    <label for="industryName" class="font-medium col-form-label">Industry Name</label>
                                    <input type="text" class="w-full " formControlName="industryName" pInputText id="industryName" name="industryName">
                                </div>
                            </div>
                            <ng-template pTemplate="footer">
                                <p-button (click)="displayUpdate=false" label="Cancel" styleClass="p-button-text"></p-button>
                                <p-button type="button" label="Update" styleClass="p-button-text" (click)="onUpdateIndustryConfirm()" (click)="displayUpdate=false"></p-button>
                            </ng-template>
                        </p-dialog>
                    </form>
                    <app-button-danger id="delete" (click)="showDeleteDialog()"></app-button-danger>
                    <p-dialog header="Delete Category" [(visible)]="displayDelete" [breakpoints]="{'960px': '75vw'}"
                    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                    <h4>Are you sure delete this industry?</h4>
                    <ng-template pTemplate="footer">
                        <p-button (click)="displayUpdate=false" label="No" styleClass="p-button-text"></p-button>
                        <p-button type="button" label="Yes" styleClass="p-button-text" (click)="onDeleteIndustry(industry)" (click)="displayUpdate=false"></p-button>
                    </ng-template>
                </p-dialog>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>