<div class="flex gap-3 ">

    <div class="col-3">
        <ul style="list-style: none;">
            <li>
                <h4>Setting</h4>
            </li>
            <li>Edit Profile</li>
            <li>Password</li>
            <li>
                <h4>Logout</h4>
            </li>
        </ul>
    </div>

    <div class="col-7">
        <div class="flex justify-content-center">
            <div class="border-circle w-6rem h-6rem m-2 bg-yellow-500 text-gray-900 font-bold flex align-items-center justify-content-center">circle</div>
        </div>
    </div>
</div>