<div class="flex gap-3">

  <div class="col-3">
    <ul style="list-style: none;">
      <li>
        <h1>Setting</h1>
      </li>
      <li><a href="#" style="text-decoration: none;">Edit Profile</a></li>
      <li><a href="#" style="text-decoration: none;">Password</a></li>
      <li>
        <h4>Logout</h4>
      </li>
    </ul>
  </div>

  <div class="col-7 text-800">
    <div class="header">
      <h1>Edit Profile</h1>
    </div>
    <form action="">
      <div class="flex justify-content-center">
        <div
          class="border-circle w-8rem h-8rem m-2 bg-indigo-500 text-white font-bold flex align-items-center justify-content-center">
          Photo</div>
      </div>

      <div class="mb-3 flex flex-column">
        <label for="emailInput" class="font-medium col-form-label">Full Name</label>
        <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
          placeholder="ex.budi doremi" formControlName="password" name=" passwordInput">
      </div>

      <div class="mb-3 flex flex-column">
        <label for="emailInput" class="font-medium col-form-label">Email</label>
        <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
          placeholder="ex.example@gmail.com" formControlName="password" name=" passwordInput">
      </div>

      <div class="mb-3 flex flex-column">
        <label for="emailInput" class="font-medium col-form-label">Phone Number</label>
        <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
          placeholder="+62 865456777" formControlName="password" name=" passwordInput">
      </div>

      <div>
        <div class="flex gap-3">
          <div class="mb-3 flex flex-column w-full">
            <label for="emailInput" class="font-medium col-form-label">Country</label>
            <!-- <p-dropdown formControlName="category" [options]="categories" optionLabel="categoryName" [filter]="true"
                filterBy="categoryName" [showClear]="true" placeholder="Select a Category">
                <ng-template pTemplate="selectedItem">
                  <div class="category-item category-item-value p-0 w-full" *ngIf="postFb.value">
                    <div class="">{{postFb.value.category!['categoryName']}}</div>
                  </div>
                </ng-template>
                <ng-template let-category pTemplate="item">
                  <div class="category-item p-0 ">
                    <div class="p-0">{{category.categoryName}}</div>
                  </div>
                </ng-template>
              </p-dropdown> -->
            <!-- <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput" placeholder="password"
                          formControlName="password" name=" passwordInput"> -->
          </div>

          <div class="mb-3 flex flex-column w-full">
            <label for="emailInput" class="font-medium col-form-label">Province</label>
            <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
              placeholder="password" formControlName="password" name=" passwordInput">
          </div>
        </div>

        <div class="flex gap-3">
          <div class="mb-3 flex flex-column w-full">
            <label for="emailInput" class="font-medium col-form-label">City</label>
            <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
              placeholder="password" formControlName="password" name=" passwordInput">
          </div>

          <div class="mb-3 flex flex-column w-full">
            <label for="emailInput" class="font-medium col-form-label">Postal Code</label>
            <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
              placeholder="password" formControlName="password" name=" passwordInput">
          </div>
        </div>
      </div>

      <h2 class="my-4">Pekerjaan</h2>

      <div class="mb-3 flex flex-column">
        <label for="emailInput" class="font-medium col-form-label">Company</label>
        <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
          placeholder="password" formControlName="password" name=" passwordInput">
      </div>
      <div class="mb-3 flex flex-column">
        <label for="emailInput" class="font-medium col-form-label">Industry</label>
        <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
          placeholder="password" formControlName="password" name=" passwordInput">
      </div>
      <div class="mb-3 flex flex-column">
        <label for="emailInput" class="font-medium col-form-label">Position</label>
        <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
          placeholder="password" formControlName="password" name=" passwordInput">
      </div>


      <h2 class="my-4">Social Media</h2>

      <div>
        <div class="flex gap-3">
          <div class="mb-3 flex flex-column w-full">
            <label for="emailInput" class="font-medium col-form-label">Twitter</label>
            <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
              placeholder="password" formControlName="password" name=" passwordInput">
          </div>

          <div class="mb-3 flex flex-column w-full">
            <label for="emailInput" class="font-medium col-form-label">Facebook</label>
            <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
              placeholder="password" formControlName="password" name=" passwordInput">
          </div>
        </div>

        <div class="flex gap-3">
          <div class="mb-3 flex flex-column w-full">
            <label for="emailInput" class="font-medium col-form-label">Instagram</label>
            <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
              placeholder="password" formControlName="password" name=" passwordInput">
          </div>

          <div class="mb-3 flex flex-column w-full">
            <label for="emailInput" class="font-medium col-form-label">LinkedIn</label>
            <input type="text" class="mt-2" style="border-radius: 30px;" pInputText id="passwordInput"
              placeholder="password" formControlName="password" name=" passwordInput">
          </div>
        </div>
      </div>

      <div class="flex justify-content-end">
        <app-button-icon icon="pi pi-save" label="Save"></app-button-icon>
      </div>
    </form>


  </div>
</div>
