<main>
    <div class="w-12 h-full flex relative">
      <div class="w-2 pt-4 px-4 top-0">
        <div class="w-6">
          <img class="w-full w-0" style="object-fit: contain !important;"
            src="../../../assets/images/wecommunity-logo.png" alt="logo wecommunity">
        </div>
        <div class="flex flex-column m-0 mt-6 gap-2">
          <div class="text-blue-600 flex">
            <button
              class="text-blue-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-blue-50 cursor-pointer">
              <i class="pi pi-home px-2"></i>
              Home</button>
          </div>
          <div class="text-600 flex">
            <button
              class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
              <i class="pi pi-calendar px-2"></i>
              Event</button>
          </div>
          <div class="text-600 flex hover:text-blue-600">
            <button
              class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer ">
              <i class="pi pi-book px-2"></i>
              Course
            </button>
          </div>
          <div class="text-600 flex">
            <button
              class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
              <i class="pi pi-home px-2"></i>
              Post</button>
          </div>
          <div class="text-600 flex border-bottom-1 border-gray-200 pb-4">
            <button
              class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
              <fa-icon class="text-gray-600 cursor-pointer px-2 hover:text-blue-600" [icon]="faNewspaper"></fa-icon>
              Article
            </button>
          </div>
          <div class="flex flex-column mt-4">
            <div class="flex justify-content-between mb-3">
              <p>Upcoming Event</p>
              <div class="bg-blue-100 text-blue-600 border-circle w-1 h-1 align-self-center flex justify-content-center">
                <p class="font-semibold text-xs">3</p>
              </div>
            </div>
            <div class="flex flex-column gap-4">
              <div class="flex w-12 gap-4">
                <div class="flex flex-column bg-blue-50 w-3 align-content-center text-center px-2 py-1 border-round-md">
                  <p class="font-semibold">20</p>
                  <p class="font-light text-gray-600">Mar</p>
                </div>
                <div class="flex flex-column w-9">
                  <p class="cursor-pointer">Modern Web...</p>
                  <div class="flex">
                    <fa-icon class="text-xs font-light text-gray-600 mr-2" [icon]="faPeopleGroup"></fa-icon>
                    <p class="text-xs font-light text-gray-600">100 people going</p>
                  </div>
                </div>
              </div>
              <div class="flex w-12 gap-4">
                <div class="flex flex-column bg-blue-50 w-3 align-content-center text-center px-2 py-1 border-round-md">
                  <p class="font-semibold">24</p>
                  <p class="font-light text-gray-600">Mar</p>
                </div>
                <div class="flex flex-column w-9">
                  <p class="cursor-pointer">Modern Web...</p>
                  <div class="flex">
                    <fa-icon class="text-xs font-light text-gray-600 mr-2" [icon]="faPeopleGroup"></fa-icon>
                    <p class="text-xs font-light text-gray-600">100 people going</p>
                  </div>
                </div>
              </div>
              <div class="flex w-12 gap-4">
                <div class="flex flex-column bg-blue-50 w-3 align-content-center text-center px-2 py-1 border-round-md">
                  <p class="font-semibold">4</p>
                  <p class="font-light text-gray-600">Apr</p>
                </div>
                <div class="flex flex-column w-9">
                  <p class="cursor-pointer">Modern Web...</p>
                  <div class="flex">
                    <fa-icon class="text-xs font-light text-gray-600 mr-2" [icon]="faPeopleGroup"></fa-icon>
                    <p class="text-xs font-light text-gray-600">100 people going</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="w-10 bg-gray-100 border-rounded-bottom-xl">
        <div class="navbar bg-white w-12 justify-content-end flex pr-4 h-3rem">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="border-circle align-self-center"
            style="width: 32px;" alt="Avatar" />
        </div>
        <form [formGroup]="editProfile">
            <div class="flex mx-4 justify-content-end">
                <app-button-primary label="Save" class="m-3" icon="pi pi-save"></app-button-primary>
            </div>
            {{editProfile.value|json}}
            <div class="w-12 flex">
            <div class="flex my-4 w-7 justify-content-center">
                <div class="w-full flex align-content-center justify-content-center">
                <div class="w-11 flex flex-column">
                    <div class="flex w-full flex-column bg-white p-3 border-round-xl">
                        <div class="flex gap-2 mb-2 justify-content-between border-bottom-1 border-gray-300">
                            <div class="flex">
                                <h2>Edit Profile</h2>
                            </div>
                            <div class="flex align-content-center hover:bg-gray-100 p-2 border-round-md ">
                                <i class="pi pi-user-edit align-self-center cursor-pointer hover:bg-gray-100 "></i>
                            </div>
                        </div>
                        <div class="flex">
                          <div class="flex flex-column relative">
                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="border-circle align-self-center p-2" style="width: 60px;" alt="Avatar" />
                            <fa-icon class="absolute top-0 right-0" [icon]="faPenToSquare"></fa-icon>
                          </div>
                        </div>
                        <div class="flex mt-3 gap-2 justify-content-between">
                        <div class="flex flex-column w-full">
                            <div class="mb-3 flex flex-column ">
                                <label for="fullname" class="font-medium col-form-label">Full Name</label>
                                <input type="text" class="mt-2" style="border-radius: 10px;" pInputText id="fullname" placeholder="ex.budi doremi"
                                name=" fullname" formControlName="fullname">
                            </div>
                            <div class="mb-3 flex flex-column ">
                                <label for="email" class="font-medium col-form-label">E-mail</label>
                                <input type="text" class="mt-2 disable" style="border-radius: 10px;" pInputText id="email" formControlName="email"  placeholder="example@gmail.com"
                                name=" email">
                            </div>
                            <div class="mb-3 flex flex-column ">
                                <label for="phoneNumber" class="font-medium col-form-label">Phone Number</label>
                                <input type="text" class="mt-2 disable" style="border-radius: 10px;" pInputText id="phoneNumber" placeholder="+62 982 3453 2345"
                                name=" phoneNumber" formControlName="phoneNumber">
                            </div>
                            <div class="mb-3 flex flex-column ">
                                <label for="fullname" class="font-medium col-form-label">Country</label>
                                <p-dropdown styleClass="w-full" [options]="countries"  formControlName="country" optionLabel="name" optionValue="shortName" [filter]="true"
                                filterBy="name"></p-dropdown>
                            </div>
                            <div class="mb-3 flex flex-column ">
                                <label for="fullname" class="font-medium col-form-label">Province</label>
                                <p-dropdown styleClass="w-full" [options]="states" formControlName="province"></p-dropdown>
                            </div>
                            <div class="mb-3 flex flex-column ">
                                <label for="fullname" class="font-medium col-form-label">City</label>
                                <p-dropdown styleClass="w-full" [options]="cities" formControlName="city" ></p-dropdown>
                            </div>
                            <div class="mb-3 flex flex-column ">
                                <label for="postalcode" class="font-medium col-form-label">Postal Code</label>
                                <input type="text" class="mt-2 disable" style="border-radius: 10px;" pInputText id="postalcode"
                                name=" postalcode" formControlName="postalCode">
                            </div>
                        </div>
                
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="w-5 my-4">
                <div class="w-11">
                <div class="flex flex-column gap-3">
                    <div class="bg-white border-round-lg">
                    <div class="bg-white flex flex-column w-12 justify-content-start flex p-3 border-round-md">
                        <div class="flex gap-2 mb-2 justify-content-between border-bottom-1 border-gray-300">
                            <div class="flex">
                                <h2>Job</h2>
                            </div>
                            <div class="flex align-content-center hover:bg-gray-100 p-2 border-round-md ">
                                <i class="pi pi-briefcase align-self-center"></i>
                            </div>
                        </div>
                        <div class="mt-3 flex flex-column ">
                            <label for="Company" class="font-medium col-form-label">Company</label>
                            <input type="text" class="mt-2 disable" style="border-radius: 10px;" pInputText id="Company"
                                name=" Company" formControlName="company">
                        </div>
                        <div class="mt-3 flex flex-column ">
                            <label for="industry" class="font-medium col-form-label">Industry</label>
                            <p-dropdown styleClass="w-full"  [options]="getIndustry" formControlName="industryId" optionLabel="industryName" [filter]="true"
                            filterBy="industryName" ></p-dropdown>

                        </div>
                        <div class="mt-3 w-12 flex flex-column ">
                            <label for="position" class="font-medium col-form-label">Position</label>
                                <p-dropdown styleClass="w-full"  [options]="getPosition" formControlName="poistionId" optionLabel="positionName"></p-dropdown>
                        </div>
                    </div>
                    </div>
                    <div class="bg-white border-round-lg">
                    <div class="bg-white flex flex-column w-12 justify-content-start flex p-3 border-round-md">
                        <div class="flex gap-2 mb-2 justify-content-between border-bottom-1 border-gray-300">
                            <div class="flex">
                                <h2>Wallet</h2>
                            </div>
                            <div class="flex align-content-center hover:bg-gray-100 p-2 border-round-md ">
                                <i class="pi pi-wallet align-self-center"></i>
                            </div>
                        </div>
                        {{getBankPayment | json}}
                        <div class="mt-3 w-12 flex flex-column ">
                          <label for="bankPayment" class="font-medium col-form-label">Bank</label>
                              <p-dropdown styleClass="w-full"  [options]="getBankPayment" formControlName="selectedBank" optionLabel="bankPaymentName"></p-dropdown>
                      </div>
                        <div class="mt-3 flex flex-column ">
                            <label for="industry" class="font-medium col-form-label">Account Number</label>
                            <input type="text" class="mt-2 disable" style="border-radius: 10px;" pInputText id="industry"
                                name=" industry">
                        </div>
                        <div class="mt-3 flex flex-column ">
                            <label for="industry" class="font-medium col-form-label">Account Name</label>
                            <input type="text" class="mt-2 disable" style="border-radius: 10px;" pInputText id="industry"
                                name=" industry">
                        </div>
                    </div>
                    </div>
                    <div class="bg-white border-round-lg">
                    <div class="bg-white flex flex-column w-12 justify-content-start flex p-3 border-round-md">
                        <div class="flex gap-2 mb-2 justify-content-between border-bottom-1 border-gray-300">
                            <div class="flex">
                                <h2>Social Media</h2>
                            </div>
                            <div class="flex align-content-center hover:bg-gray-100 p-2 border-round-md ">
                                <fa-icon class="px-2 " [icon]="faGlobe"></fa-icon>
                            </div>
                        </div>
                        <div class="mt-3 flex flex-column ">
                            <label for="Company" class="font-medium col-form-label">Company</label>
                            <input type="text" class="mt-2 disable" style="border-radius: 10px;" pInputText id="Company"
                                name=" Company">
                        </div>
                        <div class="mt-3 flex flex-column ">
                            <label for="industry" class="font-medium col-form-label">Industry</label>
                            <input type="text" class="mt-2 disable" style="border-radius: 10px;" pInputText id="industry"
                                name=" industry">
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </main>