<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <!-- <div class="avatar">
            <p>{{initial('Rizky Irvandi')}}</p>
            <p>iki</p>
        </div> -->
        <!-- <p-avatar shape="circle">{{initial('Rizky Irvandi')}}</p-avatar> -->
    </ng-template>
</p-menubar>

<p-menubar [model]="memberItem">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <!-- <div class="avatar">
            <p>{{initial('Rizky Irvandi')}}</p>
            <p>iki</p>
        </div> -->
        <!-- <p-avatar shape="circle">{{initial('Rizky Irvandi')}}</p-avatar> -->
    </ng-template>
</p-menubar>

<router-outlet></router-outlet>