<pre>
    {{getBank | json}}
</pre>
<div class="mx-6">
    <h1>Bank Payment</h1>
    <div class="col-3 my-2">
        <app-button-primary label="Create Bank Payment" id="create" (click)="showResponsiveDialog()" ></app-button-primary>

        <form [formGroup]="createBankPayment">
            <p-dialog header="Create Bank Payment" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}"
            [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
            <pre>{{createBankPayment.value|json}}</pre>
            <div class="mb-3">
                <div class="mb-3 flex flex-column w-full">
                    <label for="bankPaymentName" class="font-medium col-form-label">Bank Name</label>
                    <input type="text" class="w-full " formControlName="bankPaymentName" pInputText id="bankPaymentName" name="bankPaymentName">
                </div>
                <div class="mb-3 flex flex-column w-full">
                    <label for="accountName" class="font-medium col-form-label">Account Name</label>
                    <input type="text" class="w-full " formControlName="accountName" pInputText id="accountName" name="accountName">
                </div>
                <div class="mb-3 flex flex-column w-full">
                    <label for="accountNumber" class="font-medium col-form-label">Account Number</label>
                    <input type="text" class="w-full " formControlName="accountNumber" pInputText id="accountNumber" name="accountNumber">
                </div>
            </div>
            <ng-template pTemplate="footer">
                <p-button (click)="displayResponsive=false" label="Cancel" styleClass="p-button-text"></p-button>
                <p-button type="button" label="Create" styleClass="p-button-text" (click)="onCreateBankPayment()" (click)="displayResponsive=false"></p-button>
            </ng-template>
            </p-dialog>
        </form>
    </div>
    <p-table [value]="getBank" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>Bank</th>
                    <th>Name</th>
                    <th>Account Number</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-getBank let-i="rowIndex">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{getBank.bankPaymentName}}</td>
                    <td>{{getBank.accountName}}</td>
                    <td>{{getBank.accountNumber}}</td>
                    <td class="flex gap-2">

                        <app-button-icon id="update" (click)="showUpdateDialog(getBank)" ></app-button-icon>
                        <form [formGroup]="updateBankPayment">
                            <p-dialog header="Update Bank Payment" [(visible)]="displayUpdate" [breakpoints]="{'960px': '75vw'}"
                                [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                                <pre>{{updateBankPayment.value|json}}</pre>
                                <div class="mb-3">
                                    <div class="mb-3 flex flex-column w-full">
                                        <label for="bankPaymentName" class="font-medium col-form-label">Name Bank</label>
                                        <input type="text" class="w-full " formControlName="bankPaymentName" pInputText
                                        id="bankPaymentName" name="bankPaymentName">
                                    </div>
                                    <div class="mb-3 flex flex-column w-full">
                                        <label for="accountName" class="font-medium col-form-label">Account Name</label>
                                        <input type="text" class="w-full " formControlName="accountName" pInputText
                                            id="accountName" name="accountName">
                                    </div>
                                    <div class="mb-3 flex flex-column w-full">
                                        <label for="accountNumber" class="font-medium col-form-label">Account Number</label>
                                        <input type="text" class="w-full " formControlName="accountNumber" pInputText
                                            id="accountNumber" name="accountNumber">
                                    </div>
                                </div>
                                <ng-template pTemplate="footer">
                                    <p-button (click)="displayUpdate=false" label="Cancel" styleClass="p-button-text">
                                    </p-button>
                                    <p-button type="button" label="Update" styleClass="p-button-text"
                                        (click)="onUpdateBankPayment()" (click)="displayUpdate=false"></p-button>
                                </ng-template>
                            </p-dialog>
                        </form>
                        
                        <app-button-danger id="delete" (click)="showDeleteDialog()"></app-button-danger>
                            <p-dialog header="Delete Bank" [(visible)]="displayDelete" [breakpoints]="{'960px': '75vw'}"
                                [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                                <h4>Are you sure delete this bank?</h4>
                                <ng-template pTemplate="footer">
                                    <p-button (click)="displayDelete=false" label="No" styleClass="p-button-text"></p-button>
                                    <p-button type="button" label="Yes" styleClass="p-button-text"
                                    (click)="onDeleteBankPayment(getBank)" (click)="displayDelete=false"></p-button>
                                </ng-template>
                            </p-dialog>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</div>