<div class="mx-6">
    <h1>position</h1>
    <div class="col-3 my-2">
        <app-button-primary label="Create position" id="create" (click)="showResponsiveDialog()"></app-button-primary>
        <form [formGroup]="createPosition">
            <p-dialog header="Create Category" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}"
                [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                <div class="mb-3">
                    <div class="mb-3 flex flex-column w-full">
                        <label for="positionCode" class="font-medium col-form-label">Position Code</label>
                        <input type="text" class="w-full " formControlName="positionCode" pInputText id="positionCode"
                            name="positionCode">
                    </div>
                    <div class="mb-3 flex flex-column w-full">
                        <label for="positionName" class="font-medium col-form-label">Position Name</label>
                        <input type="text" class="w-full " formControlName="positionName" pInputText id="positionName"
                            name="positionName">
                    </div>
                </div>
                <ng-template pTemplate="footer">
                    <p-button (click)="displayResponsive=false" label="Cancel" styleClass="p-button-text"></p-button>
                    <p-button type="button" label="Create" styleClass="p-button-text" (click)="onCreatePosition()" (click)="displayResponsive=false"></p-button>
                </ng-template>
            </p-dialog>
        </form>
    </div>
    <p-table [value]="getAllPosition" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-position let-i="rowIndex">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{position.positionCode}}</td>
                    <td>{{position.positionName}}</td>
                    <td class="flex gap-2">
                        <app-button-icon id="update" (click)="showUpdateDialog(position)"></app-button-icon>
                    <form [formGroup]="updatePosition">
                        <p-dialog header="Update Position" [(visible)]="displayUpdate" [breakpoints]="{'960px': '75vw'}"
                            [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                            <div class="mb-3">
                                <div class="mb-3 flex flex-column w-full">
                                    <label for="emailInput" class="font-medium col-form-label">Position Code</label>
                                    <input type="text" class="w-full "
                                        [value]="position.positionCode" formControlName="positionCode" pInputText
                                        id="positionCode" name="positionCode">
                                </div>
                                <div class="mb-3 flex flex-column w-full">
                                    <label for="cname" class="font-medium col-form-label">Position Name</label>
                                    <input type="text" class="w-full " [value]="position.positionName"
                                        formControlName="positionName" pInputText id="positionName" name="categoryName">
                                </div>
                            </div>
                            <ng-template pTemplate="footer">
                                <p-button (click)="displayUpdate=false" label="Cancel" styleClass="p-button-text">
                                </p-button>
                                <p-button type="button" label="Update" styleClass="p-button-text"
                                    (click)="onUpdatePositionConfirm()" (click)="displayUpdate=false"></p-button>
                            </ng-template>
                        </p-dialog>
                    </form>
                        <app-button-danger id="delete" (click)="showDeleteDialog()"></app-button-danger>
                        <p-dialog header="Delete Position" [(visible)]="displayDelete" [breakpoints]="{'960px': '75vw'}"
                        [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
                        <h4>Are you sure delete this position?</h4>
                        <ng-template pTemplate="footer">
                            <p-button (click)="displayDelete=false" label="No" styleClass="p-button-text"></p-button>
                            <p-button type="button" label="Yes" styleClass="p-button-text"
                                (click)="onDeletePosition(position)" (click)="displayDelete=false"></p-button>
                        </ng-template>
                    </p-dialog>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</div>