<!-- <div
  class="sm:flex bg-white pt-2 justify-content-between border-top-1 border-gray-200 w-12 gap-4 px-4 md:hidden fixed bottom-0 z-5 justify-content-center align-content-center align-self-center">
  <div
    class="text-blue-600  border-blue-600 border-bottom-3 w-2 bg-white flex flex-column justify-content-center align-content-center">
    <i class="pi pi-home align-self-center" style="font-size: x-large;"></i>
    <p class="align-self-center">
      Home</p>
  </div>
  <div class="w-2 text-900 font-medium bg-white flex flex-column justify-content-center align-content-center">
    <i class="pi pi-calendar px-2 align-self-center" style="font-size: x-large;"></i>
    <p class="align-self-center">Event</p>
  </div>
  <div class="text-900 w-2 bg-white flex flex-column justify-content-center align-content-center hover:text-blue-600">
    <i class="pi pi-book px-2 align-self-center" style="font-size: x-large;"></i>
    <p class="align-self-center">Course</p>
  </div>
  <div class="text-900 w-2 bg-white flex flex-column justify-content-center align-content-center">
    <i class="pi pi-home px-2 align-self-center" style="font-size: x-large;"></i>
    <p class="align-self-center">Post</p>
  </div>
  <div class="text-900 w-2 bg-white flex flex-column justify-content-center align-content-center">
    <fa-icon class="text-gray-600 align-self-center cursor-pointer hover:text-blue-600" size="xl" [icon]="faNewspaper">
    </fa-icon>
    <p class="align-self-center">Article</p>
  </div>
</div> -->


<nav>
  <a *ngFor="let item of menuItems" routerLink="{{ item.route }}" routerLinkActive="active">
    <i class="{{ item.icon }}"></i>
    {{ item.label }}
  </a>
</nav>
