<div class="flex flex-column">
  <div class="flex">
    <h1>Create Article</h1>
  </div>

  <div class="w-10 bg-gray-100 border-round-bottom-xl flex justify-content-center">
    <div class="w-11 border-round-md mt-2 bg-white p-6">
      <form [formGroup]="createArticle" class="gap-4 flex flex-column">
        <div>
          <div class="flex flex-column">
            <div class="flex flex-column">
              <label for="title" class="text-xl font-medium text-800">Title</label>
              <input type="text" formControlName="title" id="title" pInputText />
            </div>
            <div class="flex flex-column">
              <label for="title" class="text-xl font-medium text-800">Content</label>
              <p-editor formControlName="content" [style]="{'height':'320px'}"></p-editor>
            </div>
            <label for="cover" class="text-xl font-medium text-800">Add Cover</label>
            <p-fileUpload mode="basic" name="myfile[]" [showUploadButton]="false" [showCancelButton]="false"
              [multiple]="true" [maxFileSize]="1000000" id="formFileMultiple" (onSelect)="onUpload($event)"
              formArrayName="imageArticle" class="col-8">
            </p-fileUpload>
          </div>
        </div>

        <div class="flex w-12 gap-6">
          <button (click)="onCreateArticle()"
            class="bg-blue-600 justify-content-end text-white px-2 py-2 border-none border-round-md w-2 mt-3 cursor-pointer">
            Create
          </button>

          <!-- <div class="flex flex-column mt-2">
                <label for="question" class="text-md font-medium text-800">Option 1</label>
                <input formControlName="pollingOptions" type="text" id="choice" pInputText />
              </div> -->

        </div>
      </form>
    </div>
  </div>

  <!-- <form class="mt-1 col-12 md:col-3 flex-column justify-content-center" [formGroup]="createArticle">
        <div class="mb-3 flex flex-column w-full">
            <label for="title" class="font-medium col-form-label">Title</label>
            <input type="text" class="w-full " pInputText id="title"
              formControlName="title">
        </div>
        <div class="mb-3 flex flex-column">
            <label for="emailInput" class="font-medium col-form-label">Content</label>
            <span class="p-float-label">
                <textarea id="float-input" formControlName="content" rows="5" cols="45" pInputTextarea></textarea>
                <label for="float-input">add content</label>
            </span>
        </div>
        <div class="mb-3 flex flex-column">
            <label for="emailInput" class="font-medium col-form-label">Upload Image</label>
            <span class="p-float-label">
                <p-fileUpload #fubauto mode="basic" chooseLabel="Browse" class="p-2" (onSelect)="onUpload($event)" formArrayName="imageArticle"></p-fileUpload>
            </span>
        </div>

        <div class="mt-4">
            <button pButton type="submit" label="Create" class="p-2"></button>
        </div>
    </form> -->
</div>
