<div class="flex flex-column">
  <div class="flex">
    <h1>Create Article</h1>
  </div>

  <div class="w-10 bg-gray-100 border-round-bottom-xl flex justify-content-center">
    <div class="w-11 border-round-md mt-2 bg-white p-6">
      <form [formGroup]="createArticle" class="gap-4 flex flex-column">
        <div>
          <div class="flex flex-column">
            <div class="flex flex-column">
              <label for="title" class="text-xl font-medium text-800">Title</label>
              <input type="text" formControlName="title" id="title" pInputText />
            </div>
            <div class="flex flex-column">
              <label for="title" class="text-xl font-medium text-800">Content</label>
              <p-editor formControlName="content" [style]="{'height':'320px'}"></p-editor>
            </div>
            <label for="cover" class="text-xl font-medium text-800">Add Cover</label>
            <p-fileUpload mode="basic" name="myfile[]" [showUploadButton]="false" [showCancelButton]="false"
              [multiple]="true" [maxFileSize]="1000000" id="formFileMultiple" (onSelect)="onUpload($event)"
              formArrayName="imageArticle" class="col-8">
            </p-fileUpload>
          </div>
        </div>

        <div class="flex w-12 gap-6">
          <button (click)="onCreateArticle()"
            class="bg-blue-600 justify-content-end text-white px-2 py-2 border-none border-round-md w-2 mt-3 cursor-pointer">
            Create
          </button>

        </div>
      </form>
    </div>
  </div>
</div>