<div class="mx-6 mt-6">
  <div class="border-indigo-200 border-1 px-2 py-1 w-6">
    <p class="text-xl font-semibold text-800">Detail Invoice - #09888123</p>
  </div>
  <div class="flex justify-content-between w-6 mt-4">
    <div class="flex flex-column w-3 border-none border-right-2 border-indigo-400">
      <p>TYPE: </p>
      <p>Course</p>
    </div>
    <div class="flex flex-column w-3 ml-3">
      <p>CATEGORY: </p>
      <p>HR Digital</p>
    </div>
    <div class="flex flex-column w-3  border-none border-x-2 border-indigo-400 mr-3 pl-3">
      <p>PLACE: </p>
      <p>Online</p>
    </div>
    <div class="flex flex-column w-3">
      <p>Provider: </p>
      <p>Google</p>
    </div>
  </div>
  <div class="mt-8">
    <div class=" flex align-items-center">
      <img width="360px" height="200px" style="object-fit: cover !important;" src="./../../../assets/images/banner.png"
        alt="" class="border-round-xl">
      <p class="text-xl font-semibold text-800 ml-4">Pelatihan Dasar Phyton</p>
    </div>
  </div>
  <div class="flex justify-content-between w-6 mt-4">
    <div class="flex flex-column w-3 border-none border-right-2 border-indigo-400">
      <p>START DATE: </p>
      <p>13 MARET 21:00</p>
    </div>
    <div class="flex flex-column w-3 ml-3">
      <p>END DATE: </p>
      <p>17 MARET 2023 22:00</p>
    </div>
    <div class="flex flex-column w-3  border-none border-x-2 border-indigo-400 mr-3 pl-3">
      <p>PRICE: </p>
      <p>20.000</p>
    </div>
    <div class="flex flex-column w-3">
      <p>VOUCHER: </p>
      <p> - </p>
    </div>
  </div>
  <div class="mt-6 w-6 border-top-2 border-indigo-400">
    <p class="text-xl font-semibold mb-2 mt-2 text-800">Payment Method</p>
    <p-accordion>
      <p-accordionTab header="BCA">
        <div class="w-12">
          <img width="80px" height="80px" style="object-fit: contain !important;" src="../../../assets/images/bca.png"
            alt="">
          <div class="flex w-4">
            <p class="w-6">No Rek : </p>
            <p class="w-6">1233 1238 9123</p>
          </div>
          <div class="flex w-4">
            <p class="w-6">Penerima : </p>
            <p class="w-6">WeCommunity</p>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="MANDIRI">
        <div class="w-12">
          <img width="80px" height="80px" style="object-fit: contain !important;" src="../../../assets/images/bca.png"
            alt="">
          <div class="flex w-4">
            <p class="w-6">No Rek : </p>
            <p class="w-6">1233 1238 9123</p>
          </div>
          <div class="flex w-4">
            <p class="w-6">Penerima : </p>
            <p class="w-6">WeCommunity</p>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="DKI">
        <div class="w-12">
          <img width="80px" height="80px" style="object-fit: contain !important;" src="../../../assets/images/bca.png"
            alt="">
          <div class="flex w-4">
            <p class="w-6">No Rek : </p>
            <p class="w-6">1233 1238 9123</p>
          </div>
          <div class="flex w-4">
            <p class="w-6">Penerima : </p>
            <p class="w-6">WeCommunity</p>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="w-6 my-4">
    <app-button-primary label="Payment"></app-button-primary>
  </div>
</div>
