<pre>{{getSalesSettings |json}}</pre>
<div class="mx-6">
    <h1>Sales Setting</h1>
    <p-table [value]="getSalesSettings" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>No</th>
                    <th>tax</th>
                    <th>System Income</th>
                    <th>Member Income</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-settings let-i="rowIndex">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{settings.tax}}</td>
                    <td>{{settings.systemIncome}}</td>
                    <td>{{settings.memberIncome}}</td>
                </tr>
            </ng-template>
        </p-table>
</div>