<main>
  <div class="w-12 h-full flex relative">
    <div class="w-2 hidden lg:block pt-4 px-4 top-0">
      <div class="w-6">
        <img class="w-full w-0" style="object-fit: contain !important;"
          src="../../../assets/images/wecommunity-logo.png" alt="logo wecommunity">
      </div>
      <div class="flex flex-column m-0 mt-6 gap-2" routerLink="/dashboard">
        <div class="text-900 flex" routerLink="/dashboard">
          <button
            class="text-900 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
            <i class="pi pi-home px-2"></i>
            Home</button>
        </div>
        <div class="text-900 flex" routerLink="/events">
          <button
            class="text-900 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
            <i class="pi pi-calendar px-2"></i>
            Event</button>
        </div>
        <div class="text-blue-600 flex hover:text-blue-600" routerLink="/course">
          <button
            class="text-900 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-blue-50 cursor-pointer">
            <i class="pi pi-book px-2"></i>
            Course
          </button>
        </div>
        <div class="text-600 flex border-bottom-1 border-gray-200 pb-4  hover:text-blue-600"
          routerLink="/member/article">
          <button
            class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
            <fa-icon class="text-gray-600 cursor-pointer px-2 text-blue-600" [icon]="faNewspaper">
            </fa-icon>
            Article
          </button>
        </div>
        <div class="flex flex-column mt-4">
          <div class="flex justify-content-between mb-3">
            <p>Upcoming Event</p>
            <div class="bg-blue-100 text-blue-600 border-circle w-1 h-1 align-self-center flex justify-content-center">
              <p class="font-semibold text-xs">{{upcomingEvents?.total}}</p>
            </div>
          </div>
          <div *ngIf="upcomingEvents" class="flex flex-column gap-4">
            <div *ngFor="let item of upcomingEvents.data" class="flex w-12 gap-4">
              <div class="flex flex-column bg-blue-50 w-3 align-content-center text-center px-2 py-1 border-round-md">
                <p class="font-semibold">{{item.startDate | date:'d'}}</p>
                <p class="font-light text-gray-600">{{item.startDate | date:'LLL'}}</p>
              </div>
              <div class="flex flex-column w-9">
                <p class="">{{turncate(item.title)}}</p>
                <div class="flex">
                  <fa-icon class="text-xs font-light text-gray-600 mr-2" [icon]="faPeopleGroup"></fa-icon>
                  <p class="text-xs font-light text-gray-600">{{item.totalParticipant}} people going</p>
                </div>
              </div>
            </div>
            <ng-container *ngIf="upcomingEvents && upcomingEvents.data.length > 3">
              <p class="text-blue-600 font-medium cursor-pointer hover:text-blue-800 mt-2" routerLink="/events">Show All
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile Menu -->
    <div
      class="flex bg-white pt-2 justify-content-between border-top-1 border-gray-200 w-12 gap-4 px-4 md:hidden fixed bottom-0 z-5 justify-content-center align-content-center align-self-center">
      <div
        class="text-blue-600  border-blue-600 border-bottom-3 w-2 bg-white flex flex-column justify-content-center align-content-center">
        <i class="pi pi-home align-self-center" style="font-size: x-large;"></i>
        <p class="align-self-center">
          Home</p>
      </div>
      <div class="w-2 text-900 font-medium bg-white flex flex-column justify-content-center align-content-center">
        <i class="pi pi-calendar px-2 align-self-center" style="font-size: x-large;"></i>
        <p class="align-self-center">Event</p>
      </div>
      <div
        class="text-900 w-2 bg-white flex flex-column justify-content-center align-content-center hover:text-blue-600">
        <i class="pi pi-book px-2 align-self-center" style="font-size: x-large;"></i>
        <p class="align-self-center">Course</p>
      </div>
      <div class="text-900 w-2 bg-white flex flex-column justify-content-center align-content-center">
        <fa-icon class="text-gray-600 align-self-center cursor-pointer hover:text-blue-600" size="xl"
          [icon]="faNewspaper"></fa-icon>
        <p class="align-self-center">Article</p>
      </div>
    </div>
    <div class="w-10 bg-gray-100 border-round-bottom-xl">
      <div class="navbar bg-white w-12 justify-content-end flex pr-4 h-3rem align-content-center gap-4">
        <ng-container *ngIf="memberStatus === memberReguler">
          <button
            class="bg-red-600 hover:bg-red-700 text-white px-2 cursor-pointer h-10 border-round-md border-none align-self-center"
            style="height: 30px!important;" routerLink="/subscription">Upgrade</button>
        </ng-container>
        <app-tiered-menu [model]="accountMenu">
          <ng-template #content>
            <div *ngIf="!imageIdProfile"
              class="border-circle cursor-pointer align-self-center bg-blue-400 hover:bg-blue-500 flex justify-content-center align-content-center"
              style="width: 38px;height: 38px">
              <p class=" text-white font-medium text-xl align-self-center align-content-center text-center">
                {{fotoName(fullNameLogin)}}</p>
            </div>
            <div *ngIf="imageIdProfile" class="ImageProfile">
              <img src="http://localhost:2121/files/{{imageIdProfile}}" class=" align-self-center"
                style="width: 42px;height: 42px; object-fit: contain;border-radius: 50%;" alt="Avatar" />
            </div>
          </ng-template>
        </app-tiered-menu>
      </div>
      <div class="w-12 flex">
        <div class="flex mt-4 w-9 justify-content-between">
          <div class="w-full flex align-content-center justify-content-center align-self-center">
            <div class="w-full flex flex-column">
              <!-- <div class=" mb-2 w-12 pb-4 border-bottom-1 border-gray-400 align-self-center">
                <div class="flex w-full flex-column bg-white p-3 border-round-xl">
                </div>
              </div> -->
              <div>
                <img class="imgBanner" src="./../../../assets/images/banner-course.png" alt="banner">
              </div>
              <div *ngIf="allActivity.length > 0" class="col-12 flex justify-content-start flex-wrap">
                <div *ngFor=" let course of allActivity"
                  class="flex flex-column hover:bg-gray-100 px-3 pb-4 hover:border-round-2xl col-4"
                  routerLink="/course/detail/{{course.activityId}}">
                  <div
                    class="bg-white flex hover:shadow-2 cursor-pointer flex-column w-12 justify-content-start p-3 border-round-md ">
                    <div class="flex flex-column w-full h-full">
                      <p class="text-md font-semibold text-indigo-300">{{course.categoryName}}</p>
                      <div class="flex flex-column w-full h-full overflow-hidden">
                        <div>
                          <img src="http://localhost:2121/files/{{course.imgActivityId}}" class=" align-self-center"
                            style="width: 300px;height:200px; object-fit: contain;" alt="Avatar" />
                          <!-- <img style="object-fit: contain;" class="" src="https://loremflickr.com/320/240" alt=""> -->
                        </div>
                      </div>
                    </div>
                    <div class="flex justify-content-between align-content-center">
                      <p class="align-self-center text-200 font-semibold text-l text-indigo-800">{{course.title}}
                      </p>
                    </div>
                    <div class="flex flex-column mt-3">
                      <div class="flex justify-content-between">
                        <p class="text-800 text-md">{{course.providers}}</p>
                        <p class="text-800 text-md"> <i class="pi pi-map-marker"></i> Online</p>
                      </div>
                      <div class=" flex justify-content-between">
                        <p class="text-800 text-xs text-400">Start Date </p>
                        <p class="text-800 text-xs text-400">{{course.startDate | date: 'medium'}}</p>
                      </div>
                      <div class="flex justify-content-between">
                        <p class="text-800 text-xs text-400">End Date </p>
                        <p class="text-800 text-xs text-400">{{course.endDate | date: 'medium'}}</p>
                      </div>
                      <div class="mt-2">
                        <p class="font-medium text-xl">{{course.price | currency:'Rp ' : 'symbol' : '1.0-0'}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex w-3 p-5 bg-white">
          <div class="w-10">
            <div class="filter">
              <h1>Filter</h1>
              <div class="category mt-4">
                <p class="text-xl">Category</p>
                <div class="field-checkbox mt-2" *ngFor="let cat of categories">
                  <p-checkbox name="group1" [(ngModel)]="categoriesList" (ngModelChange)="sortFilterCategory()"
                    value="{{cat.categoryCode}}" inputId="hr">
                  </p-checkbox>
                  <label>{{cat.categoryName}}</label>
                </div>

                <div class="choose mt-4" [formGroup]="sortTypeBuilder">
                  <p class="text-xl">Sort</p>
                  <div class="field-radio mt-2">
                    <input type="radio" id="tb" name="choose" value="1" formControlName="choose"
                      (change)="sortFilter()">
                    <label for="tb">Terbaru</label>
                  </div>
                  <div class="field-radio mt-2">
                    <input type="radio" id="ht" name="choose" value="2" formControlName="choose"
                      (change)="sortFilter()">
                    <label for="ht">Harga Tertinggi</label>
                  </div>
                  <div class="choose mt-4" [formGroup]="sortTypeBuilder">
                    <p class="text-xl">Sort</p>
                    <div class="field-radio mt-2">
                      <input type="radio" id="tb" name="choose" value="1" formControlName="choose"
                        (change)="sortFilter()">
                      <label for="tb">Terbaru</label>
                    </div>
                    <div class="field-radio mt-2">
                      <input type="radio" id="ht" name="choose" value="2" formControlName="choose"
                        (change)="sortFilter()">
                      <label for="ht">Harga Tertinggi</label>
                    </div>
                    <div class="field-radio mt-2">
                      <input type="radio" id="hr" name="choose" value="3" formControlName="choose"
                        (change)="sortFilter()">
                      <label for="hr">Harga Terendah</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
