<!-- <div class="grid">
  <div class="col-8">
    <div class="title">
      <p class="text-xl font-semibold text-indigo-800"> Artikel Populer</p>
      <hr class="border-2 border-indigo-400 w-3rem">
    </div>
    <div class="article-populer flex">
      <div *ngFor="let item of [].constructor(4)">
        <div class="w-10rem h-12rem">
          <img style="object-fit: contain;" class="" src="https://loremflickr.com/320/240" alt="">
        </div>
        <p class="text-indigo-600 font-medium">HR Digital</p>
        <p class="text-xl font-semibold text-indigo-800">Hati-hati dalam mencari pekerjaan di jakarta, terutama...</p>
        <div class="flex justify-content-between mt-2">
          <p class="text-xs font-light text-indigo-800">Budi</p>
          <p class="text-xs font-light text-indigo-800">19 Februari 2023</p>
        </div>
      </div>
    </div>
    <button class="border-indigo-100 text-indigo-600">Show All</button>
  </div>
  <div class="col-4">
    <p>tes</p>
  </div>
</div> -->

<div class="grid mx-6 mt-6 flex justify-content-between">
  <div class="col-8">
    <div class="article-populer">
      <div class="title">
        <p class="text-xl font-semibold text-indigo-800"> Artikel Populer</p>
        <hr class="border-2 border-indigo-400 w-3rem">
      </div>
      <div class="flex flex-column md:flex-row gap-4">
        <div *ngFor="let item of [].constructor(4)" class="col-3 overflow-hidden">
          <div>
            <img style="object-fit: contain;" class="" src="https://loremflickr.com/320/240" alt="">
          </div>
          <p class="text-indigo-600 font-medium">HR Digital</p>
          <p class="text-xl font-semibold text-indigo-800">Hati-hati dalam mencari pekerjaan di jakarta, terutama...</p>
          <div class="flex justify-content-between mt-2">
            <p class="text-sm font-light text-indigo-800">Budi</p>
            <p class="text-sm font-light text-indigo-800">19 Februari 2023</p>
          </div>
        </div>
      </div>
    </div>

    <div class="article-terbaru mt-6">
      <div class="title">
        <p class="text-xl font-semibold text-indigo-800"> Artikel Terbaru</p>
        <hr class="border-2 border-indigo-400 w-3rem">
      </div>
      <div class="flex gap-4">
        <div *ngFor="let item of [].constructor(4)" class="col-3 overflow-hidden">
          <div>
            <img style="object-fit: contain;" class="" src="https://loremflickr.com/320/240" alt="">
          </div>
          <p class="text-indigo-600 font-medium">HR Digital</p>
          <p class="text-xl font-semibold text-indigo-800">Hati-hati dalam mencari pekerjaan di jakarta, terutama...</p>
          <div class="flex justify-content-between mt-2">
            <p class="text-sm font-light text-indigo-800">Budi</p>
            <p class="text-sm font-light text-indigo-800">19 Februari 2023</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 flex justify-content-between align-self-center ">
    <div class="col-6 flex justify-content-between flex-column h-30rem border-indigo-400 border-1 shadow-2
    border-bottom-2 align-items-center">
      <p class="text-xl font-semibold text-indigo-600 ">Upgrade your skill and explore all feature without limitation
      </p>
      <div class="flex flex-column">
        <p>Buy Premium Now</p>
        <div class="col-6">
          <button
            class="border-round-2xl bg-indigo-600 font-medium text-md border-transparent text-white cursor-pointer ">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
