
<div class="flex m-5">

    <div class="flex-column col-9">
        <div class="box-article w-8rem border-bottom-3 border-indigo-500">
            <h2 class="p-3">Recomendations Article</h2>
        </div>
        <p>card</p>
        <div class="card card-container">
            
        </div>
        
        <div class="box-article w-8rem border-bottom-3 border-indigo-500">
            <h2 class="p-3"> New Article</h2>
        </div>
        <p>card</p>
    </div>

    <div class="card col-2 shadow-3">
        <div class="p-3 text-indigo-500">
           <h1>Upgrade your skill  and explore all fitur with out limitat -ion</h1>
        </div>

        <div class="text-l">
            <div class="p-3 text-indigo-500">
                <h1>Buy Premium Now</h1>
             </div>
            <app-button-primary label="Subscribe"></app-button-primary>
        </div>

    </div>
</div>