<!-- card like  -->
<div class="card">
    <div class="card-container">
        <div class=" bg-indigo-100 text-xs font-base p-3 border-round mb-3">
            <!-- profile -->
            <div class="grid flex">
                <div class="col-3">
                    <p>p</p>
                </div>
                <div class="text-left">
                    <p>muhamad rizky irvandi</p>
                    <p class="">hr.digital</p>
                </div>
            </div>
            <!-- content -->
            <div class="flex flex-column my-2">
                <h3>title 1</h3>
                <p>jhbcuwevycxtrwsdrz</p>
            </div>
            <!-- sosial -->
            <div class="flex gap-2" >
                <p><i class="pi pi-comments pr-2" style="font-size: 15px"></i>5</p>
                <p><i class="pi pi-bookmark pr-2" style="font-size: 15px"></i>5</p>
            </div>
        </div>
    </div>
</div>
<!--  end card like  -->