<!-- <div class="bg-indigo-50 w-full h-full">
    <div class="grid">
        <div class="col-7">
            <h1>detail</h1>
        </div>
        <div class="col-4">

        </div>
    </div>
</div> -->

<main>
    <div class="w-12 h-full flex relative">
      <div class="w-2 pt-4 px-4 top-0">
        <div class="w-6">
          <img class="w-full w-0" style="object-fit: contain !important;"
            src="../../../assets/images/wecommunity-logo.png" alt="logo wecommunity">
        </div>
        <div class="flex flex-column m-0 mt-6 gap-2">
          <div class="text-blue-600 flex">
            <button
              class="text-blue-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-blue-50 cursor-pointer">
              <i class="pi pi-home px-2"></i>
              Home</button>
          </div>
          <div class="text-600 flex">
            <button
              class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
              <i class="pi pi-calendar px-2"></i>
              Event</button>
          </div>
          <div class="text-600 flex hover:text-blue-600">
            <button
              class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer ">
              <i class="pi pi-book px-2"></i>
              Course
            </button>
          </div>
          <div class="text-600 flex">
            <button
              class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
              <i class="pi pi-home px-2"></i>
              Post</button>
          </div>
          <div class="text-600 flex border-bottom-1 border-gray-200 pb-4">
            <button
              class="text-600 px-1 py-2 border-round-md font-medium text-md border-none w-full text-left m-0 bg-white hover:bg-blue-50 hover:text-blue-600 cursor-pointer">
              <fa-icon class="text-gray-600 cursor-pointer px-2 hover:text-blue-600" [icon]="faNewspaper">
              </fa-icon>
              Article
            </button>
          </div>
          <div class="flex flex-column mt-4">
            <div class="flex justify-content-between mb-3">
              <p>Upcoming Event</p>
              <div class="bg-blue-100 text-blue-600 border-circle w-1 h-1 align-self-center flex justify-content-center">
                <p class="font-semibold text-xs">3</p>
              </div>
            </div>
            <div class="flex flex-column gap-4">
              <div class="flex w-12 gap-4">
                <div class="flex flex-column bg-blue-50 w-3 align-content-center text-center px-2 py-1 border-round-md">
                  <p class="font-semibold">20</p>
                  <p class="font-light text-gray-600">Mar</p>
                </div>
                <div class="flex flex-column w-9">
                  <p class="cursor-pointer">Modern Web...</p>
                  <div class="flex">
                    <fa-icon class="text-xs font-light text-gray-600 mr-2" [icon]="faPeopleGroup">
                    </fa-icon>
                    <p class="text-xs font-light text-gray-600">100 people going</p>
                  </div>
                </div>
              </div>
              <div class="flex w-12 gap-4">
                <div class="flex flex-column bg-blue-50 w-3 align-content-center text-center px-2 py-1 border-round-md">
                  <p class="font-semibold">24</p>
                  <p class="font-light text-gray-600">Mar</p>
                </div>
                <div class="flex flex-column w-9">
                  <p class="cursor-pointer">Modern Web...</p>
                  <div class="flex">
                    <fa-icon class="text-xs font-light text-gray-600 mr-2" [icon]="faPeopleGroup">
                    </fa-icon>
                    <p class="text-xs font-light text-gray-600">100 people going</p>
                  </div>
                </div>
              </div>
              <div class="flex w-12 gap-4">
                <div class="flex flex-column bg-blue-50 w-3 align-content-center text-center px-2 py-1 border-round-md">
                  <p class="font-semibold">4</p>
                  <p class="font-light text-gray-600">Apr</p>
                </div>
                <div class="flex flex-column w-9">
                  <p class="cursor-pointer">Modern Web...</p>
                  <div class="flex">
                    <fa-icon class="text-xs font-light text-gray-600 mr-2" [icon]="faPeopleGroup">
                    </fa-icon>
                    <p class="text-xs font-light text-gray-600">100 people going</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="w-10 bg-gray-100 border-round-bottom-xl">
        <div class="navbar bg-white w-12 justify-content-end flex pr-4 h-3rem">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="border-circle align-self-center"
            style="width: 32px;" alt="Avatar" />
        </div>
        <div class="w-12 flex">
          <div class="flex mt-4 w-12">
            <form [formGroup]="detailActivity">
              <div class="w-full flex align-content-center justify-content-center align-self-center">
                <div
                  class="bg-white flex hover:shadow-2 cursor-pointer flex-column w-8 justify-content-start p-3 border-round-md ">
                  <div class="flex flex-column w-full h-full">
                    <img class="imgBanner" src="./../../../assets/images/banner-course.png" alt="banner">
                  </div>
                  <div class=" flex w-full justify-content-between">
                    <div class="w-6 mt-3">
                      <p class="text-xl font-semibold text-indigo-300">{{detailActivity.value.title}}</p>
                      <p class="text-md" [innerHTML]="detailActivity.value.content"></p>
                    </div>
                    <div class="w-4 mt-3 text-end flex flex-column gap-4">
                      <p><i class="pi pi-user pr-2"></i> {{detailActivity.value.providers}}</p>
                      <p><i class="pi pi-tag pr-2"></i> {{detailActivity.value.categoryName}}</p>
                      <p><i class="pi pi-money-bill pr-2"></i> Rp. {{detailActivity.value.price}}</p>
                      <p><i class="pi pi-calendar pr-2"></i> {{detailActivity.value.startDate | date: 'medium'}}</p>
                      <p><i class="pi pi-calendar pr-2"></i> {{detailActivity.value.endDate | date: 'medium'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="flex justify-content-start flex-wrap bg-white">
          <p>test</p>
        </div>
      </div>
      <div>
      </div>
    </div>
  </main>
  