<div class="mx-6">
    <h1>Approval Paymnet</h1>
    <p-table [value]="product"  [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>No</th>
                <th>Mamber Name</th>
                <th>Name event</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>Transaction</th>
                <th>Approve</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>1</td>
                <td>{{product.nMember}}</td>
                <td>{{product.nEvent}}</td>
                <td>
                    <p-tag [rounded]="true">{{product.type}}</p-tag></td>
                <td>{{product.date}}</td>
                <td>{{product.trans}}</td>
                <td class="flex gap-2">
                    <app-button-primary id="update" label="Approve"></app-button-primary>
                    
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>